In [1]:
# Step 1: Import Libraries
#%pip install mlxtend
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from sklearn.datasets import fetch_openml

In [3]:
from sklearn.datasets import fetch_openml
import pandas as pd

# Step 1: Load and preprocess dataset
# We'll use the 'adult' dataset from sklearn for this demonstration
dataset = fetch_openml('adult', version=2, as_frame=True)
df = dataset.frame

# Convert categorical columns to string type
df['education'] = df['education'].astype(str)
df['occupation'] = df['occupation'].astype(str)

# For association rule mining, we need a transactional dataset.
# We'll convert the 'occupation' column into a transactional format for simplicity.
basket = df.groupby(['education', 'occupation']).size().unstack().reset_index().fillna(0).set_index('education')
basket = basket.applymap(lambda x: 1 if x > 0 else 0)

basket.head()

C:\Users\Yobi-Work\anaconda3\Lib\site-packages\sklearn\datasets\_openml.py:1002: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

occupation,Adm-clerical,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,nan
education,,,,,,,,,,,,,,,
10th,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1
11th,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1
12th,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1st-4th,1,0,1,1,1,1,1,1,1,1,1,1,0,1,1
5th-6th,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1

In [4]:
# Step 3: Apply Apriori Algorithm
# Generate frequent itemsets
frequent_itemsets = apriori(basket, min_support=0.1, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

# Step 4: Interpret Results
# Display the results
print(frequent_itemsets)
print(rules)

# For better readability, let's display only some columns of the rules
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']]

C:\Users\Yobi-Work\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

       support                                           itemsets
0       1.0000                                     (Adm-clerical)
1       0.4375                                     (Armed-Forces)
2       1.0000                                     (Craft-repair)
3       1.0000                                  (Exec-managerial)
4       1.0000                                  (Farming-fishing)
...        ...                                                ...
32762   0.3750  (nan, Farming-fishing, Priv-house-serv, Armed-...
32763   0.3750  (nan, Farming-fishing, Priv-house-serv, Armed-...
32764   0.7500  (nan, Farming-fishing, Priv-house-serv, Other-...
32765   0.3750  (nan, Farming-fishing, Priv-house-serv, Armed-...
32766   0.3750  (nan, Farming-fishing, Priv-house-serv, Armed-...

[32767 rows x 2 columns]
                  antecedents  \
0              (Adm-clerical)
1              (Armed-Forces)
2              (Adm-clerical)
3              (Craft-repair)
4              (Adm-clerical)
...                       ...
11567113  (Machine-op-inspct)
11567114              (Sales)
11567115   (Transport-moving)
11567116  (Handlers-cleaners)
11567117     (Prof-specialty)

                                                consequents  \
0                                            (Armed-Forces)
1                                            (Adm-clerical)
2                                            (Craft-repair)
3                                            (Adm-clerical)
4                                         (Exec-managerial)
...                                                     ...
11567113  (nan, Farming-fishing, Priv-house-serv, Armed-...
11567114  (nan, Farming-fishing, Priv-house-serv, Armed-...
11567115  (nan, Farming-fishing, Priv-house-serv, Armed-...
11567116  (nan, Farming-fishing, Priv-house-serv, Armed-...
11567117  (nan, Farming-fishing, Priv-house-serv, Armed-...

          antecedent support  consequent support  support  confidence  \
0                     1.0000              0.4375   0.4375    0.437500
1                     0.4375              1.0000   0.4375    1.000000
2                     1.0000              1.0000   1.0000    1.000000
3                     1.0000              1.0000   1.0000    1.000000
4                     1.0000              1.0000   1.0000    1.000000
...                      ...                 ...      ...         ...
11567113              1.0000              0.3750   0.3750    0.375000
11567114              1.0000              0.3750   0.3750    0.375000
11567115              1.0000              0.3750   0.3750    0.375000
11567116              0.8750              0.3750   0.3750    0.428571
11567117              1.0000              0.3750   0.3750    0.375000

              lift  leverage  conviction  zhangs_metric
0         1.000000  0.000000     1.00000            0.0
1         1.000000  0.000000         inf            0.0
2         1.000000  0.000000         inf            0.0
3         1.000000  0.000000         inf            0.0
4         1.000000  0.000000         inf            0.0
...            ...       ...         ...            ...
11567113  1.000000  0.000000     1.00000            0.0
11567114  1.000000  0.000000     1.00000            0.0
11567115  1.000000  0.000000     1.00000            0.0
11567116  1.142857  0.046875     1.09375            1.0
11567117  1.000000  0.000000     1.00000            0.0

[11567118 rows x 10 columns]

,antecedents,consequents,support,confidence,lift
0,(Adm-clerical),(Armed-Forces),0.4375,0.437500,1.000000
1,(Armed-Forces),(Adm-clerical),0.4375,1.000000,1.000000
2,(Adm-clerical),(Craft-repair),1.0000,1.000000,1.000000
3,(Craft-repair),(Adm-clerical),1.0000,1.000000,1.000000
4,(Adm-clerical),(Exec-managerial),1.0000,1.000000,1.000000
...,...,...,...,...,...
11567113,(Machine-op-inspct),"(nan, Farming-fishing, Priv-house-serv, Armed-...",0.3750,0.375000,1.000000
11567114,(Sales),"(nan, Farming-fishing, Priv-house-serv, Armed-...",0.3750,0.375000,1.000000
11567115,(Transport-moving),"(nan, Farming-fishing, Priv-house-serv, Armed-...",0.3750,0.375000,1.000000
11567116,(Handlers-cleaners),"(nan, Farming-fishing, Priv-house-serv, Armed-...",0.3750,0.428571,1.142857
11567117,(Prof-specialty),"(nan, Farming-fishing, Priv-house-serv, Armed-...",0.3750,0.375000,1.000000